

*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 0;
    overflow-x: hidden;
  }
  
  :root{
    --teal-50: #FAF5FF;
    --teal-100: #F3E8FF;
    --teal-200: #E9D5FF;
    --teal-300: #D8B4FE;
    --teal-400: #C084FC;
    --teal-500: #A855F7;
    --teal-600: #9333EA;
    --teal-700: #7E22CE;
    --teal-800: #6B21A8;
    --teal-900: #581C87;
    --teal-950: #3B0764;
    
    --border: 1px solid #b6e878;
  }
  
  body{
    display: flex;
    flex-direction: column;
    background-color: var(--teal-500);
    color: white;
    padding: 1vw;
  
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .max{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:visited a:active a:hover{
    color: inherit;
  }
  
  .hi {
    font-weight: 900;
    overflow: hidden;
    padding-top: 30vh;
  }

  button{
    border: none;
    border-radius: 1rem;
  }

  .About{
    overflow: hidden;
  }
  
  
  main{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-evenly;
    
  }
  
  .BlogPost{
    display: none;
  }

  .BlogPostContainer {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em;
    background-color: var(--teal-900);
    gap: 0.2em;
    width: 700px;
    box-shadow: 10px 10px 40px var(--teal-950);
  }

  .BlogPostContainer:hover{
    background-color: var(--teal-800);
  }
  
  .FilterSection{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    display: none;
  }
  
  .FilterBox{
    margin: 5px;
    font-weight: 500;
  }
  
  
  .FilterButton{ 
    background-color: var(--teal-600);
    color: white;
    height: 2em;
    width: fit-content;
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
  }
  
  .FilterButton:hover{
  
    background-color: var(--teal-700);
    color: white;
  
  }

  .TagBox{
    margin: 5px;
    font-weight: 500;
  }
    
  .TagButton{ 
    background-color: var(--teal-600);
    color: white;
    height: 2em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
  }

  
  .SelectedFilter{
    background-color: var(--teal-800);
  }
  
  .BlogLink {
  
      background-color: var(--teal-600);
      color: white;
      height: 2em;
      width: fit-content;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 1em;
      margin-top: 0.5em;
  }
  
  .BlogLink:hover {
    background-color: var(--teal-500);
    color: white;
  }
  
  .BlogTitle{
  
    font-weight: 700;
    font-size: 1.5em;
  
  }
  
  .link{
    color: white;
    font-weight: 500;
  }
  
  
  
  .BlogImageContainer{
  
    width: 100%;
  
  }
  
  .BlogImg{
  
    width: 40%;
    border-radius: 10px;
  
  }

  h1{
    font-size: 50rem;
    text-align: center;
  }

  .SplashContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 96vh;
    overflow: hidden;
    gap: 1rem 2rem;
  }

  .Hw{
    flex-grow: 1;
    height: 96vh;
    background-image: url(/img/hw.png);
    background-position: middle;
  }

  .About{
    flex-grow: 2.5;
    height: 64vh;
    background-image: url(/img/about.png);
  }

  .ReviewSplash{
    flex-grow: 1;
    height: 64vh;
    background-image: url(/img/class.png);
  }

  .one{
    background-image: url(/img/one.png);
  }

  .two {
    background-image: url(/img/two.png);
  }

  .three{
    background-image: url(/img/three.png);
  }

  .Assignment{
    flex-grow: 10;

    height: 32vh;
    align-self: flex-end;
    translate: 0 -32vh;
  }

  .break{
    flex-basis: 100%;
  }

  .break2{
    flex-grow: 10;
    height: 32vh;
    align-self: flex-end;
    outline: none;
    background-color: none;
    border: none;
  }

  .SplashStyle{
    background-color: var(--teal-800);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 1rem;
  }

  .SplashStyle:hover{
    background-color: var(--teal-700);
  }

  /* About Exclusive */

  .PhotoAbout{
    flex-grow: 1;
    height: 96vh;
    background-image: url(img/pfp_left.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  .back{
    margin-top: 13vh;
  }

  .break2about{
    flex-grow: 5;
    height: 32vh;
    align-self: flex-end;
    outline: none;
    background-color: none;
    border: none;
  }

  .AssignmentAbout{
    flex-grow: 7;

    height: 32vh;
    align-self: flex-end;
    translate: 0 -32vh;
  }

  .Bio{
    flex-grow: 1;

    height: 64vh;
  }

  /* Animation Stuff */

  .slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-11 22:24:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  