

*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 0;
    overflow-x: hidden;
  }
  
  :root{
    --teal-50: #FAF5FF;
    --teal-100: #F3E8FF;
    --teal-200: #E9D5FF;
    --teal-300: #D8B4FE;
    --teal-400: #C084FC;
    --teal-500: #A855F7;
    --teal-600: #9333EA;
    --teal-700: #7E22CE;
    --teal-800: #6B21A8;
    --teal-900: #581C87;
    --teal-950: #3B0764;
    
    --border: 1px solid #b6e878;
  }
  
  body{
    display: flex;
    flex-direction: column;
    background-color: var(--teal-500);
    color: white;
    padding: 2vw;
  
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:visited a:active a:hover{
    color: inherit;
  }
  
  h1 {
    font-size: 2em;
    font-weight: 900;
  }
  
  
  main{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-evenly;
    
  }
  
  .BlogPost{
    display: none;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em;
    background-color: var(--teal-900);
    gap: 0.2em;
    width: 700px;
    box-shadow: 10px 10px 40px var(--teal-950);
  }

  .BlogPost:hover{
    background-color: var(--teal-800);
  }
  
  .FilterSection{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .FilterBox{
    margin: 5px;
    font-weight: 500;
  }
  
  
  .FilterButton{ 
    background-color: var(--teal-600);
    color: white;
    height: 2em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
  }
  
  .FilterButton:hover{
  
    background-color: var(--teal-700);
    color: white;
  
  }

  .TagBox{
    margin: 5px;
    font-weight: 500;
  }
    
  .TagButton{ 
    background-color: var(--teal-600);
    color: white;
    height: 2em;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
  }

  
  .SelectedFilter{
    background-color: var(--teal-800);
  }
  
  .BlogLink {
  
      background-color: var(--teal-600);
      color: white;
      height: 2em;
      width: fit-content;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 1em;
      margin-top: 0.5em;
  }
  
  .BlogLink:hover {
    background-color: var(--teal-500);
    color: white;
  }
  
  .BlogTitle{
  
    font-weight: 700;
    font-size: 1.5em;
  
  }
  
  .link{
    color: white;
    font-weight: 500;
  }
  
  
  
  .BlogImageContainer{
  
    width: 100%;
  
  }
  
  .BlogImg{
  
    width: 40%;
    border-radius: 10px;
  
  }

  h1{
    font-size: 50rem;
    text-align: center;
  }

  /* Animation Stuff */

  .slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-11 22:24:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  